        .grid-container::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        .grid-container {
            display: grid;
            justify-items: left;
            grid-template-columns: 60% 35%;
            grid-auto-rows: auto;
            margin-left: 20px;
            grid-column-gap: 50px;
            grid-row-gap: 2px;
            height: 900px;
            background-color: white;
            padding: 0px;
            border: none;
            overflow: auto;
        }

        .grid-container>div {
            background-color: white;
            border: none;
            text-align: left;
            font-size: 15px;
            width: auto;
        }

        .item1 {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 1;
            grid-row-end: span 30;
            justify-self: left;
            position: relative;
        }

        .item2 {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: span 2;
        }

        .item3 {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: span 1;
            justify-self: left;
        }

        .item4 {
            /* #2 */
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: span 1;
            justify-self: left;
        }

        .item5 {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: span 1;
            justify-self: left;
        }

        .item6 {
            /* #4 */
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: span 1;
            justify-self: left;
        }

        .item7 {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 5;
            grid-row-end: span 1;
            justify-self: left;
        }

        .item8 {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 6;
            grid-row-end: span 1;
            justify-self: left;
        }

        .item9 {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 7;
            grid-row-end: span 1;
            justify-self: left;
        }

        .item10 {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 8;
            grid-row-end: span 1;
            justify-self: left;
        }

        .item11 {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 9;
            grid-row-end: span 1;
            justify-self: left;
        }

        .item12 {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 10;
            grid-row-end: span 1;
            justify-self: left;
        }

        .item13 {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 11;
            grid-row-end: span 1;
            justify-self: left;
        }

        .item14 {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 12;
            grid-row-end: span 1;
            justify-self: left;
        }

        .item15 {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 13;
            grid-row-end: span 1;
            justify-self: left;
        }

        .item16 {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 14;
            grid-row-end: span 1;
            justify-self: left;
        }
